# folders to ignore
cover/
env/
venv/
tmp/
.idea/
.vscode/
.cache
data/
data_model/
evaluation/
val_predictions/
lightning_logs/
lightning_logs_sync/
fasttext/
debug_info/
**/__pycache__
*.ipynb_checkpoints/
# filetype to ignore
*.pyc
*.egg-info/
.DS_store
.DS_Store
*.swp
**/ig_*
.coverage

build/
dist/
*/build/
*/dist/
*.pytest_cache
# specific files to ignore
sftp-config.json
eval_results/
sks_tests/
