beautifulsoup4
scikit-learn
fasttext==0.9.2
scipy
numpy
dill
pandas
spacy
matplotlib
#fastDamerauLevenshtein  # deprecated for py311
nltk
rake-nltk
gensim
pytorch_lightning
transformers
rich
tqdm
datasets
GPUtil
numba
sentence-transformers
tensorboard
pybackground
rarfile
#decord # decord lib is a trash. Do not use it for any reason.
#sudo apt-get install unrar
gdown
pims
av
timm
wget
p_tqdm
h5py
opencv-python
pycocotools
matplotlib
hungarian-loss
pytube
tabulate
# How to use tensorboard: tensorboard --logdir=$EVENTS_FOLDER