beautifulsoup4
scikit-learn
fasttext==0.9.2
scipy
numpy
dill
pandas
spacy
matplotlib
fastDamerauLevenshtein
nltk
rake-nltk
gensim
pytorch_lightning
transformers
rich
tqdm
datasets
GPUtil
numba
sentence-transformers
tensorboard
pybackground
pims
av
timm
# How to use tensorboard: tensorboard --logdir=$EVENTS_FOLDER